 /* HTML options 
 ----------------------------------------------------------------------*/
 html {
   scroll-behavior: smooth;
   background-color: #ececec;
 }

 li, p {
   max-width: 75ch;
 }

 h1, h2, h3, h4 {
   padding-top: 32px;
 }

/* Horizontal Navigation Bar 
----------------------------------------------------------------------*/
.navbar {
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.navbar-container{
  background-color: #333;
  position: sticky;
  top: 0;
}

.navbar a {
  margin-right: 24px ;
  color: #ececec;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
  transition: color 150ms ease-in-out;
}

.navbar a:hover{
  color: #1EAEDB;
}

.navbar::after{
  content: normal;
}

.page-title{
  padding: 16px 0px 0px 0px;
  background-color: #2f3061;
  color: #ececec;
}

/* Horizontal Dividing Lines 
----------------------------------------------------------------------*/
hr.dashed {
  border-top: 3px dashed #2f3061;
}

hr.dotted {
  border-top: 3px dotted #2f3061;
}

hr.solid {
  border-top: 1px solid #2f3061;
}

hr.rounded {
  border-top: 8px solid #2f3061;
  border-radius: 5px;
}

/* Grid 
----------------------------------------------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
}

.grid-item {
  display: block;
  align-items: center;
  text-align: left;
  font-size: 1em;
}

/* User (host) info 
----------------------------------------------------------------------*/
.user {
  padding-top: 32px;
}

.user-name {
  max-width: 40ch;
  font-weight: bold;
  /* text-align: center; */
}

.user-info {
  max-width: 30ch;
}

.user-photo {
  width: 240px;
  height: 240px;
  border: 1px solid black;
}

/* Sections 
----------------------------------------------------------------------*/
.section-head{
  font-weight: bold;
  text-decoration: underline;
}