/* Horizontal Navigation Bar 
----------------------------------------------------------------------*/
.navbar {
    z-index: 1;
    display: flex;
    flex-direction: row;
  }
  
  .navbar-container{
    background-color: #333;
    position: sticky;
    top: 0;
  }
  
  .navbar a {
    margin-right: 24px ;
    color: #ececec;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
    transition: color 150ms ease-in-out;
  }
  
  .navbar a:hover{
    color: #9aa7d4;
  }
  
  .navbar::after{
    content: normal;
  }

  /* Page title
  ----------------------------------------------------------------------*/
  .page-title{
    padding: 16px 0px 0px 0px;
    background-color: #2f3061;
    color: #ececec;
    overflow: hidden;
  }

  .title-name{
    width: 50%;
    height: auto;
    max-width: 240px;
    max-height: 160px;
  }

  .title-logo{
    width: 20%;
    height: auto;
    max-width: 120px;
    max-height: 160px;
  }

  
  /* User (host) info 
  ----------------------------------------------------------------------*/
  .user {
    padding-top: 32px;
  }
  
  .user-name {
    max-width: 40ch;
    font-weight: bold;
  }
  
  .user-info {
    max-width: 30ch;
  }
  
  .user-photo {
    width: 240px;
    height: 240px;
    border: 1px solid black;
  }
  
  /* Scrollbox
  ----------------------------------------------------------------------*/
  .ep-scrollbox {
    width: 100%;
    height: 550px;
    margin: auto;
    border: 1px solid #333;
    background-color: #7d7d97;
    border-radius: 10px;
    line-height: 3em;
    overflow-y: scroll;
    overflow-x: auto;
  }
  
  .ep-entry {
    background-color: #2D3262;
    border-radius: 10px;
    /* padding: 0px 16px 0px 16px; */
    margin: 8px;
    /* width: 100%; */
    height: auto;
    max-height: 400px;
  }

  .ep-header {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
  }

  .ep-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: underline;
    width: auto;
    line-height: normal;
    padding: 8px;
  }
  
  .ep-img {
    width: 30%;
    height: auto;
    max-width: 120px;
    max-height: 120px;
    border: 1px solid #333;
    margin: 1em;
  }
  
  .ep-description-preview {
    padding: 0px 8px 0px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 50px;
    /* width: 15ch; */
    width: 90%;
  }
  
  .ep-description {
    padding: 0px 8px 0px 8px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100px;
    /* width: 15ch; */
    width: 90%;
  }
  
  .ep-description p {
    padding: 0px;
    margin: 0px;
    line-height: normal;
  }
  
  .ep-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .ep-links button {
    margin-top: 4px;
    margin-bottom: 4px;
    
    height: auto;
    max-width: 160px;
    max-height: 60px;
    font-size: small;
  }
  
  /* Newest Episode
  ----------------------------------------------------------------------*/
  .ep-newest {
    min-width: 280px;
    width: 75%;
    height: auto;
    margin: auto;
    border: 1px solid #333;
    padding: 16px;
  }
  
  .ep-newest .ep-info {
    justify-content: space-around;
    max-height: 200px;
  }
  
  .ep-newest .ep-name{
    font-size: 1.5em;
    /* overflow: hidden;
    text-overflow: ellipsis; */
  }
  
  .ep-newest .ep-img {
    /* width: 15%;
    height: auto; */
    max-width: 160px;
    max-height: 160px;
    margin: 1em;
  }

  .ep-newest .ep-description {
    width: auto;
    max-height: 140px;
    padding: 0px 8px 0px 8px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: normal;
    text-overflow: ellipsis;
  }
  
  .ep-newest .ep-description p {
    font-size: 1.3em;
    text-align: left;
  }
  
  .ep-newest .ep-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .ep-newest .ep-links button {
    margin: 4px;
  }
  
  
  /* Sections 
  ----------------------------------------------------------------------*/
  .section-head{
    text-decoration: underline;
  }
  
  #contribute {
    padding-bottom: 32px;
  }
  
  /* buttons 
  ----------------------------------------------------------------------*/
  button {
    color: #ececec;
  }
  
  button:hover {
    color: #727da5;
  }
  
  button:focus {
    color: #ececec;
  }
  
  /* Accordion
  ----------------------------------------------------------------------*/
  .accordion {
    background-color:#2D3262;
    opacity: 0.9;
    /* color: #444; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    /* border: 1px dotted #444; */
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    /* background-color: rgb(225, 225, 225); */
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: #629494;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
